/* ----------------------
    Page
-----------------------*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 110%;
}

/* ----------------------
    Fonts
-----------------------*/

h1, h2, h3, h4 { font-family: 'Telex', sans-serif;  }

p, ul { font-family: 'Lato', sans-serif; }

p { line-height: 130%; }


/* ----------------------
    Mast
-----------------------*/

.mast {
    position: relative;
    text-align: center;
}

.primary-nav__list {
    position: relative;
    list-style-type: none;
}

.primary-nav__list li {
    display: inline;
    padding: 0 2em;
}

.primary-nav__list a {
    text-decoration: none;
}

.primary-nav--selected {
    text-decoration: underline;
}

/* ----------------------
    Map
-----------------------*/

#map {
    height: 80%;
    width: auto;
}